#body {
    background: #F5F5F3;
}

#particles {
    width: 100%;
    height: 100vh;
    background: #F5F5F3;
}

#splash,
section {
    width: 100%;
    padding: 5%;
    border-bottom: 2px solid #ddd;
}

#splash {
    height: 100vh;
}

section {
    min-height: 100vh;
    background: transparent;
}

#splash .logo {
    width: 200px;
    height: 200px;
    margin-left: 25%;
    padding: 10% 15%;
    display: flex;
}

#splash {
    border-bottom: 2px solid #ddd;
}

#particles {
    z-index: -99;
    position: absolute;
}

.particles {
    position: absolute;
    width: 100%;
    height: 100;
}

#sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    background: #f3f3f3;
    width: 100px;
    height: 540px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 12%;
    margin-left: 25px;
}

#sidebar li {
    text-align: center;
    width: 100px;
    /* Or whatever */
    height: 100px;
    /* Or whatever */
    margin: auto;
    /* Magic! */
}

#sidebar li a {
    text-decoration: none;
    color: #330;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}

#sidebar li:hover {
    background: #ddd;
}

#sidebar li:hover:nth-child(1) a {
    color: #db4437;
}

#sidebar li:hover:nth-child(2) a,
#sidebar li:active:nth-child(2) a {
    color: #FBB400;
}

#sidebar li:hover:nth-child(3) a {
    color: #0F9D58;
}

#sidebar li:hover:nth-child(4) a {
    color: #4285F4;
}

#sidebar li:hover:nth-child(5) a {
    color: #663399;
}


/* #content {
    width: 100%;
    float: right;
    height: 100%;
    padding: 7.5% 10%;
}

#content div {
    float: right;
    width: 75%;
    margin: auto;
} */

#contact form {
    width: 100%;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
}

h3>a:hover {
    text-decoration: none;
}

.cat-icon {
    padding: 20px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    margin-right: 10px;
}

.cat-icon:hover {
    background: #330;
    color: white;
    cursor: pointer;
}

.section_content .col {
    display: flex;
    align-items: stretch;
}

.black-white {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.1s ease;
    cursor: pointer;
    display: inline-block;
}

.black-white:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


/********* Collage CSS **********************/

.same-height {
    height: 350px;
}

.same-width {
    height: 175px;
}

.Collage {
    /* 
     * Change this to set the spacing of the images in the grid
     */
    padding: 10px;
}

.Collage img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.1s ease;
    cursor: pointer;
    display: inline-block;
}

.Collage img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


/******************** Pages design *******************/

#about {
    background: #F5F5F3;
}

#about .top {
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #db4437;
    margin-bottom: 10px;
    color: #fff;
}

#about .bottom {
    padding: 5%;
    border: 2px solid #db4437;
    background: #fff;
}


/********* Tabs design ***************/

.tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tab .menu {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.tab .menu a {
    flex: 1 100%;
    height: 50px;
    padding: 2%;
    text-decoration: none;
    background: #ccc;
    color: #200;
    text-align: center;
}

.tab .menu a:hover,
.tab .menu .active {
    background: #bbb;
}

.tab .content {
    border: 1px solid #200;
    margin: 0;
    padding: 10px 15px;
}

.tab .content div {
    width: 100%;
    height: inherit;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .tab .menu {
        flex-direction: column;
    }
    .tab .menu a {
        margin: 0;
    }
}